services:
  # Server
  server:
    build: .
    container_name: server_dev
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    command: npx nest start --watch --preserveWatchOutput --poll 1000
    develop:
      watch:
        - action: sync
          path: ./src
          target: /app/src
          ignore:
            - node_modules/
        - action: rebuild
          path: package.json
        - action: rebuild
          path: package-lock.json
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  # Database
  db:
    image: postgres:16
    container_name: pg_dev
    restart: unless-stopped
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  # Redis
  redis:
    image: redis:8.6-alpine
    container_name: redis_dev
    restart: unless-stopped
    ports:
      - "6379:6379"
    env_file:
      - .env
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping | grep PONG" ]
      interval: 5s
      timeout: 5s
      retries: 5

  # Database for e2e
  db_test:
    image: postgres:15
    profiles: [ test ]
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: airlines_test
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d airlines_test" ]
      interval: 3s
      timeout: 3s
      retries: 5

volumes:
  server_data:
  pg_data:
  redis_data:
