NODE_ENV=test
SERVER_CORS_ORIGIN=http://localhost:4321

DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USER=your_user
DATABASE_PASSWORD=your_password
DATABASE_NAME=db_test
DATABASE_URL=postgres://your_user:your_password@localhost:1234/db_test

POSTGRES_DB=db_test
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password

REDIS_HOST=localhost
REDIS_PORT=9876
